<div class="container">
  <h1>Revenge of Idea Box</h1>

  <table>

    <form id="add-new-item">
      <tr>
        <td>Title</td>
        <td><input type="text" name="title" id="title"></td>
      </tr>
      <tr>
        <td>Body</td>
        <td><input type="text" name="body" id="body"></td>
      </tr>
      <tr>
        <td>&nbsp</td>
        <td><input type="submit" value="Save"></td>
      </tr>
    </form>
  </table>

  <br>
  <br>

  <div class="ideas_list">
  </div>
</div>